<section class="search-results">
	<div class="section-content container-fluid">
		<p id="search-notification"></p>
		<div class="row">
			<div id="search-results" class="search-results-list list-group col-sm-4"></div>
		</div>
		<div class="row">
			<div id="map" class="col-sm-8"></div>
		</div>
		
	</div>

	
</section>
